@model SanPhamVM
@{
	ViewData["Title"] = "San Pham";
}
<style>
	.search-input {
		padding: 8px 32px;
		border-radius: 20px;
		border: none;
		font-size: 16px;
	}

	.search-bar-icon {
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
		text-decoration: none;
		color: #000;
	}

		/* Tùy chỉnh kiểu dáng icon tìm kiếm */
		.search-bar-icon i {
			font-size: 20px;
		}
</style>
<!-- breadcrumb-section -->
<div style="height: 100px; background-color: #051922;"></div>

<!-- end breadcrumb section -->
<!-- products -->
<div @* class="product-section mt-150 mb-150" *@>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="product-filters">
					
					<ul>
						<li>
							<div class="input-group" style="">
								<input type="text" class="form-control" id="search-input" placeholder="Nhập thông tin tìm kiếm" style="border:1px solid #000000">
								<i class="fas fa-search"></i>
							</div>
						</li>
						<li>
							<label for="sortSelect">Loại sản phẩm: </label>
							<select class="custom-select mr-sm-2" id="sortSelect" style="height: 38px; border: 1px solid #ced4da; border-radius: 5px;">
								<option value="">Tất cả</option>
								@foreach (var item in Model.loaisanphamVM)
								{

									@if (item.Tinhtrang == "1")
									{
										<option value="@item.Id">@item.Tenlsp</option>
									}
								}
							</select>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-6 text-center">
			<div>
				<label for="sortSelectSX">Sắp xếp: </label>
				<select class="custom-select mr-sm-2" id="sortSelectSX" style="height: 38px; border: 1px solid #ced4da; border-radius: 5px;">
					<option value="ASC">Tăng dần</option>
					<option value="DESC">Giảm dần</option>
				</select>

				<label for="sortSelect" style="padding-left: 50px;">Khoảng giá: </label>
				<input type="number" id="minPrice" placeholder="Min Price" style="height: 38px; border: 1px solid #ced4da; border-radius: 5px;">
				<label for="sortSelect"> - </label>
				<input type="number" id="maxPrice" placeholder="Max Price" style="height: 38px; border: 1px solid #ced4da;">
			</div>
		</div>

		<div class="row product-lists">
			@foreach (var item in Model.sanphamVM)
			{
			<div class="col-lg-4 col-md-6 text-center strawberry">
				<div class="single-product-item">
					<div class="product-image">
							<a asp-area="" asp-controller="SanPham" asp-action="Detail" asp-route-Id="@item.Id"><img src="@item.Img" alt=""></a>
					</div>
					<h3>@item.Tensp</h3>
					<p class="product-price">@item.Dongia<span>VND</span></p>
						@using (Html.BeginForm("Create", "GioHang", FormMethod.Post))
						{
							<input type="hidden" name="SanphamId" value="@item.Id" />
							<input type="hidden" name="Soluong" value="1" />

							<button type="submit" class="cart-btn" style="border:none"><i class="fas fa-shopping-cart"></i>Thêm vào giỏ</button>
						}
				</div>
			</div>
			}
			
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="pagination-wrap">
					<ul>
						<li><a href="#">Prev</a></li>
						<li><a href="#">1</a></li>
						<li><a class="active" href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end products -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$('li i.fa-search').click(function () {
				var searchValue = $('#search-input').val();
				var maLSP = $('#sortSelect').val();
				var sapXep = $('#sortSelectSX').val();
				var giaDuoi = $('#minPrice').val();
				var giaTren = $('#maxPrice').val();
				if (giaDuoi === "") {
					giaDuoi = 0;
				}

				if (giaTren === "") {
					giaTren = 1000000000;
				}

				// Gửi các thông số lọc dữ liệu qua request AJAX đến action GetFilter trong controller
				$.ajax({
					url: '@Url.Action("GetFilter", "SanPham")',
					type: 'GET',
					data: {
						timkiem: searchValue,
						MaLSP: maLSP,
						sapxep: sapXep,
						giaduoi: giaDuoi,
						giatren: giaTren
					},
					success: function (result) {
						// Xử lý kết quả trả về từ action GetFilter
						// Ví dụ: cập nhật lại danh sách sản phẩm trong view
						$('.product-lists').html(result);
					},
					error: function (xhr, status, error) {
						// Xử lý lỗi (nếu có)
						console.log(error);
					}
				});
			});
		});
	</script>
