@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DiaChiVM
<header>
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <style>

        #sidebar {
            min-width: 250px;
            color: #000;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;
            overflow-y: auto;
        }

            #sidebar .h6 {
                color: #000;
            }

            #sidebar.active {
                margin-left: -250px;
            }

                #sidebar.active .custom-menu {
                    margin-right: -50px;
                }

            #sidebar h1 {
                margin-bottom: 20px;
                font-weight: 700;
                font-size: 20px;
            }

                #sidebar h1 .logo {
                    color: #000;
                    display: block;
                    padding: 10px 30px;
                }

            #sidebar ul.components {
                padding: 0;
            }

            #sidebar ul li {
                font-size: 16px;
            }

                #sidebar ul li > ul {
                    margin-left: 10px;
                }

                    #sidebar ul li > ul li {
                        font-size: 14px;
                    }

                #sidebar ul li a {
                    padding: 15px 30px;
                    display: block;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                }

                    #sidebar ul li a:hover {
                        color: #000;
                        background: #f0f0f0;
                        border-bottom: 1px solid #f0f0f0;
                    }

                #sidebar ul li.active > a {
                    background: transparent;
                    color: #000;
                }

                    #sidebar ul li.active > a:hover {
                        background: #f0f0f0;
                        border-bottom: 1px solid #f0f0f0;
                    }

        .page-titles {
            text-align: center;
            padding: 10px;
            margin-bottom: 30px;
        }

        .card-header {
            background-color: #ffffff;
            height: 60px;
            padding: 1rem;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        [direction="rtl"] .form-wizard .nav-wizard li .nav-link:after {
            right: 50%;
            left: auto;
        }

        [data-theme-version="dark"] .form-wizard .nav-wizard li .nav-link span {
            background-color: #161717;
        }

        [data-theme-version="dark"] .form-wizard .nav-wizard li .nav-link:after {
            background: #161717;
        }

        [data-theme-version="dark"] .form-wizard .nav-wizard li .nav-link.active:after, [data-theme-version="dark"] .form-wizard .nav-wizard li .nav-link.done:after {
            background: var(--primary);
        }

        [data-theme-version="dark"] .form-wizard .nav-wizard li .nav-link.active span, [data-theme-version="dark"] .form-wizard .nav-wizard li .nav-link.done span {
            background: var(--primary);
        }

        .form-wizard {
            border: 0;
        }

            .form-wizard .nav-wizard {
                box-shadow: none !important;
                margin-bottom: 2rem;
            }

                .form-wizard .nav-wizard li .nav-link {
                    position: relative;
                }

                    .form-wizard .nav-wizard li .nav-link span {
                        border-radius: 3.125rem;
                        width: 3rem;
                        height: 3rem;
                        border: 0.125rem solid var(--primary);
                        display: block;
                        line-height: 3rem;
                        color: var(--primary);
                        font-size: 1.125rem;
                        margin: auto;
                        background-color: #fff;
                        position: relative;
                        z-index: 1;
                    }

                    .form-wizard .nav-wizard li .nav-link:after {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        height: 0.1875rem;
                        transform: translateY(-50%);
                        background: #eeeeee !important;
                        z-index: 0;
                        width: 100%;
                    }

                    .form-wizard .nav-wizard li .nav-link.active:after {
                        background: var(--primary) !important;
                    }

                    .form-wizard .nav-wizard li .nav-link.active span {
                        background: var(--primary);
                        color: #fff;
                    }

                    .form-wizard .nav-wizard li .nav-link.done:after {
                        background: var(--primary) !important;
                    }

                    .form-wizard .nav-wizard li .nav-link.done span {
                        background-color: var(--primary);
                        color: #fff;
                    }

                .form-wizard .nav-wizard li:last-child .nav-link:after {
                    content: none;
                }

            .form-wizard .toolbar-bottom .btn {
                background-color: var(--primary);
                border: 0;
                padding: 0.75rem 1.125rem;
            }

            .form-wizard .tab-content .tab-pane {
                padding: 0;
            }

            .form-wizard .emial-setup label.mailclinet {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 10rem;
                height: 10rem;
                border-radius: 50%;
                cursor: pointer;
                background-color: #EEF5F9;
                text-align: center;
                margin: auto;
            }

        [data-theme-version="dark"] .form-wizard .emial-setup label.mailclinet {
            background-color: #161717;
        }

        .form-wizard .emial-setup label.mailclinet .mail-icon {
            font-size: 3rem;
            display: inline-block;
            line-height: 1;
            margin-top: -1rem;
        }

        .form-wizard .emial-setup label.mailclinet .mail-text {
            font-size: 1rem;
            text-align: center;
            margin-top: .5rem;
        }

        .form-wizard .emial-setup label.mailclinet input[type="radio"] {
            display: none;
        }

        .form-wizard .emial-setup label.mailclinet {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            cursor: pointer;
            background-color: #EEF5F9;
            text-align: center;
            margin: auto;
        }

        [data-theme-version="dark"] .form-wizard .emial-setup label.mailclinet {
            background-color: #161717;
        }

        .form-wizard .emial-setup label.mailclinet .mail-icon {
            font-size: 3rem;
            display: inline-block;
            line-height: 1;
            margin-top: -1rem;
        }

        .form-wizard .emial-setup label.mailclinet .mail-text {
            font-size: 1rem;
            text-align: center;
            margin-top: .5rem;
        }

        .form-wizard .emial-setup label.mailclinet input[type="radio"] {
            display: none;
        }

        .nav-link {
            text-align: center;
        }

        .form-control {
            border: 1px solid #9d9d9d;
        }

        .dropdown-toggle::after {
            content: none;
        }

        .form-input {
            border-radius: 30px;
            border: 1px solid #f0f0f0;
            width: 100%;
            height: 30px;
        }
    </style>

</header>

<body>

    <div id="preloader" class="container-fluid">
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="border-radius:5px; height:100%;">
                            <div class="card-body" style="align-self: center; text-align: center;">
                                <div class="d-flex flex-column align-items-center text-center" style="margin-top:20px">
                                    <i class="fas fa-user" style="font-size:30px"></i>
                                    <div class="mt-3">
                                        <h4>@Model.name</h4>
                                        <p class="font-size-sm">@Model.mail</p>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <nav id="sidebar">
                                    <div>
                                        <ul class="list-unstyled components mb-5">
                                            <li>
                                                <a asp-controller="User" asp-action="Detail">
                                                    <i class="fas fa-user"></i>
                                                    <span class="nav-text">Thông tin tài khoản</span>
                                                </a>
                                            </li>
                                            <li class ="active">
                                                <a asp-controller="User" asp-action="Address">Sổ địa chỉ</a>
                                            </li>
                                            <li >
                                                <a asp-controller="User" asp-action="Order">Đơn hàng</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Logout" asp-action="Account">Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="card" style="border-radius:5px; height:700px; overflow-y:auto">
                            <div class="card-body">
                                <div class="content-body row">
                                    <div class="col-12" style="align-self: center;">
                                        <div class="card-header mb-3">
                                            <h4 class="card-title">Sổ địa chỉ</h4>
                                        </div>
                                        
                                        <div class="card-address-details col-lg-12 row mb-3" style="margin-left: 0 !important;">
                                            @foreach (var item in Model.diachi)
                                                {
                                            <div class="address-container p-0 col-lg-11" style="border:1px solid #f0f0f0; border-radius:5px">
                                                
                                                <div class="row" style="margin:10px;">
                                                    <div class="col-10">
                                                       
                                                        <div><b>Tên người nhận: </b><span class="consignee-name">@item.Hotennguoinhan</span></div>
                                                        <div><b>Số điện thoại: </b><span class="phone-numer">@item.Sdt </span></div>
                                                            <div><b>Địa chỉ: </b><span class="address-details">@(item.Diachichitiet + ", " + item.Xa + ", " + item.Huyen + ", " +item.Tinh)</span></div>
                                                         
                                                    </div>
                                                    <div class="col-2 vertical-center" style="text-align:right">
                                                        <a href="#!" style="color: #cecece; margin-right:10px"><i class="edit-address fas fa-edit"></i></a>
                                                        <a style="color: #cecece;"><i class="delete-address fas fa-trash-alt"></i></a>
                                                    </div>
                                                </div>
                                                
                                                <div class="edit-address-container" style="padding:15px; margin-top:10px; display:none">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Tên người nhận:</label><br />
                                                            <input type="text" id="name-input" name="nameInput" class="form-control" required>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Số điện thoại:</label><br />
                                                            <input type="text" id="phone-input" name="phoneInput" class="form-control" required>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Địa chỉ:</label><br />
                                                            <input type="text" id="address-input" name="addressInput" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <label>Tỉnh/ Thành phố:</label><br />
                                                            <select class="form-control form-select-sm mb-3" id="cityEdit" style="width:100%;height:30px;">
                                                                <option value="" selected>Chọn tỉnh thành</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Quận/ Huyện:</label><br />
                                                            <select class="form-control form-select-sm mb-3" id="districtEdit" style="width:100%;height:30px;">
                                                                <option value="" selected>Chọn quận huyện</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <label>Phường xã:</label><br />
                                                            <select class="form-control form-select-sm" id="wardEdit" style="width:100%;height:30px;">
                                                                <option value="" selected>Chọn phường xã</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div style="display:flex;margin:20px;justify-content:center;">
                                                        <button class="save-edit-address btn btn-dark" style="margin-right:20px;">Lưu</button>
                                                        <button class="cancel-edit-address btn btn-dark" style="margin-right:20px;">Hủy</button>
                                                    </div>
                                                </div>
                                            </div>
                                            }
                                        </div>

                                        <div class="card" id="add-address-container" style="padding:15px; display:none; border:1px solid #f0f0f0; border-radius:5px">
                                            <label>Tên người nhận:</label>
                                            <input type="text" id="name-input" name="Hotennguoinhan" required>
                                            <label>Số điện thoại:</label>
                                            <input type="text" id="phone-input" name="Sdt" required>
                                            <label>Địa chỉ:</label>
                                            <input type="text" id="address-input" name="Diachichitiet" required>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="Tinh">Tỉnh/ Thành phố:</label><br />
                                                    <select class="form-select form-select-sm mb-3" id="city" style="width:100%;height:30px;">
                                                        <option value="" selected>Chọn tỉnh thành</option>
                                                    </select>
                                                    <input type="hidden" id="city-text-input" name="Tinh" readonly>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Quận/ Huyện:</label><br />
                                                    <select class="form-select form-select-sm mb-3" id="district" style="width:100%;height:30px;">
                                                        <option value="" selected>Chọn quận huyện</option>
                                                    </select>
                                                    <input type="hidden" id="district-text-input" name="Huyen" readonly>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Phường xã:</label><br />
                                                    <select class="form-select form-select-sm" id="ward" style="width:100%;height:30px;">
                                                        <option value="" selected>Chọn phường xã</option>
                                                    </select>
                                                    <input type="hidden" id="ward-text-input" name="Xa" readonly>
                                                </div>
                                            </div>
                                            <div style="display:flex;margin:20px;justify-content:center;">
                                                <button type="submit" id="save-add-address" class="btn btn-dark" style="margin-right:20px;">Thêm</button>
                                                <button id="cancel-add-address" class="btn btn-dark" style="margin-right:20px;">Hủy</button>
                                            </div>

                                        </div>
                                        <button id="btn-add-address" class="mb-3 btn btn-dark" type="button" style="width:100%">
                                            <div>
                                                <i class="fas fa-plus"></i><span stollyle="margin-left:20px;">Thêm địa chỉ mới</span>
                                            </div>
                                        </button>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js"></script>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script>
        $('.nav-link').on('click', function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của tab link
            $(this).tab('show'); // Hiển thị tab-pane tương ứng với tab link được chọn
        });
        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Id);
            }
            citis.onchange = function () {
                district.length = 1;
                ward.length = 1;
                if (this.value != "") {
                    const result = data.filter(n => n.Id === this.value);

                    for (const k of result[0].Districts) {
                        district.options[district.options.length] = new Option(k.Name, k.Id);
                    }
                }
            };
            district.onchange = function () {
                ward.length = 1;
                const dataCity = data.filter((n) => n.Id === citis.value);
                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Id);
                    }
                }
            };
        }

        function renderCityEdit(data) {
            for (const x of data) {
                citisEdit.options[citisEdit.options.length] = new Option(x.Name, x.Id);
            }
            citisEdit.onchange = function () {
                districtEdit.length = 1;
                ward.length = 1;
                if (this.value != "") {
                    const result = data.filter(n => n.Id === this.value);

                    for (const k of result[0].Districts) {
                        districtEdit.options[districtEdit.options.length] = new Option(k.Name, k.Id);
                    }
                }
            };
            districtEdit.onchange = function () {
                ward.length = 1;
                const dataCity = data.filter((n) => n.Id === citisEdit.value);
                if (this.value != "") {
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

                    for (const w of dataWards) {
                        wardsEdit.options[wardsEdit.options.length] = new Option(w.Name, w.Id);
                    }
                }
            };
        }

        var citis = document.getElementById("city");
        var districts = document.getElementById("district");
        var wards = document.getElementById("ward");
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function (result) {
            renderCity(result.data);
        });

        var citisEdit = document.getElementById("cityEdit");
        var districtsEdit = document.getElementById("districtEdit");
        var wardsEdit = document.getElementById("wardEdit");
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };
        var promise = axios(Parameter);
        promise.then(function (result) {
            renderCityEdit(result.data);
        });


        // Lấy thẻ button
        var btnAddAddress = document.getElementById('btn-add-address');
        btnAddAddress.addEventListener('click', function () {
            document.getElementById('add-address-container').style.display = '';
            btnAddAddress.style.display = 'none';
        });

        var btnCancelAddress = document.getElementById('cancel-add-address');
        btnCancelAddress.addEventListener('click', function () {
            document.getElementById('add-address-container').style.display = 'none';
            btnAddAddress.style.display = 'block';
        });

        var deleteAddress = document.querySelectorAll(".delete-address");
        deleteAddress.forEach(function (item) {
            item.addEventListener('click', function () {
                var parentDiv = item.closest('.card-address-details');
                parentDiv.style.display = 'none';
            });
        });

        var btnCancelEditAddress = document.querySelectorAll(".cancel-edit-address");
        btnCancelEditAddress.forEach(function (item) {
            item.addEventListener('click', function () {
                var parentDiv = item.closest('.card-address-details').querySelector('.edit-address-container');
                parentDiv.style.display = 'none';
            });
        });

        var editAddress = document.querySelectorAll(".edit-address");
        editAddress.forEach(function (item) {
            item.addEventListener('click', function () {
                var editContainer = item.closest('.address-container').querySelector('.edit-address-container');

                if (editContainer.style.display === 'none' || editContainer.style.display === '') {
                    editContainer.style.display = 'block'; // Hiển thị div khi click

                    var consigneeName = item.closest('.card-address-details').querySelector('.consignee-name').innerText;
                    var phoneNumber = item.closest('.card-address-details').querySelector('.phone-numer').innerText;
                    var addressDetails = item.closest('.card-address-details').querySelector('.address-details').innerText;
                    let arrAddress = addressDetails.split(", ");

                    var nameInput = item.closest('.card-address-details').querySelector('#name-input');
                    var phoneInput = item.closest('.card-address-details').querySelector('#phone-input');
                    var addressInput = item.closest('.card-address-details').querySelector('#address-input');
                    var cityInput = item.closest('.card-address-details').querySelector('#cityEdit');
                    var districtInput = item.closest('.card-address-details').querySelector('#districtEdit');
                    var wardInput = item.closest('.card-address-details').querySelector('#wardEdit');

                    nameInput.value = consigneeName;
                    phoneInput.value = phoneNumber;
                    addressInput.value = arrAddress[0];

                    for (var i = 0; i < cityInput.options.length; i++) {
                        if (cityInput.options[i].text === arrAddress[3]) {
                            cityInput.selectedIndex = i; // Chọn option có text khớp
                            // Tạo và kích hoạt sự kiện onchange cho select box
                            var event = new Event('change');
                            cityInput.dispatchEvent(event);
                            break;
                        }
                    }
                    for (var i = 0; i < districtInput.options.length; i++) {
                        if (districtInput.options[i].text === arrAddress[2]) {
                            districtInput.selectedIndex = i; // Chọn option có text khớp
                            // Tạo và kích hoạt sự kiện onchange cho select box
                            var event = new Event('change');
                            districtInput.dispatchEvent(event);
                            break;
                        }
                    }
                    for (var i = 0; i < wardInput.options.length; i++) {
                        if (wardInput.options[i].text === arrAddress[1]) {
                            wardInput.selectedIndex = i; // Chọn option có text khớp
                            // Tạo và kích hoạt sự kiện onchange cho select box
                            var event = new Event('change');
                            wardInput.dispatchEvent(event);
                            break;
                        }
                    }
                } else {
                    editContainer.style.display = 'none'; // Ẩn div nếu đã được hiển thị trước đó
                }
            });
        });
    </script>
</body>